.navbar-light .navbar-nav .nav-link, .navbar-brand{
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: orangered !important;
}

.content{
    padding-top: 25px;
    margin: auto;
    text-align: center;
}

li {
    text-align: left;
    list-style-type: "👉";
    margin: 0;
    padding: 0;
}

.homeContent{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 300px;
    height: 300px;
    border: 5px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 450px;
    margin: auto;
}